<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        News || <%= config.name %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/styles/scroll.css">
    <link rel="stylesheet" href="assets/styles/main.css">
</head>

<body class="w-100 h-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <%= config.name %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home"><span class="bi bi-house"></span>
                            Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pirep"><span class="bi bi-file-earmark-plus"></span> PIREP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/news"><span class="bi bi-newspaper"></span> News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events"><span class="bi bi-calendar-event"></span> Events</a>
                    </li>

                </ul>
                <ul class="navbar-nav mb-2 float-end me-5 mb-lg-0">
                    <% if(user.admin){%>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin/accounts">Accounts</a></li>
                                <li><a class="dropdown-item" href="/admin/events">Events</a></li>
                                <li><a class="dropdown-item" href="/admin/pireps">Pireps</a></li>
                                <li><a class="dropdown-item" href="/admin/news">News</a></li>
                                <li><a class="dropdown-item" href="/admin/vacenter">Settings</a></li>
                            </ul>
                        </li>
                        <%}%>
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= user.name %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/account">Account</a></li>
                                    <li><a class="dropdown-item text-danger" href="/report">Report a bug</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="w-100 h-auto p-5 text-center">
        <i class="display-1 text-warning bi bi-cone-striped"></i>
        <h1 class="display-1">Coming Soon</h1>
        <h3 class="text-muted">News is under construction</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>