<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report a Bug || VACenter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <%- include('components/head')%>
</head>

<body class="text-center text-light py-0 py-md-5 h-auto"
    style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= config.other.bg%>'); background-position: center; background-size: cover;">
    <div class="bg-light py-3 px-2 p-md-5 w-50 h-auto text-dark mx-auto rounded fullTransparent">
        <h2>Report a bug</h2>
        <p>This is the form to report a bug, for feature suggestions, please see the VACenter official <br><a href="https://discord.gg/5UAA4thShN" target="_blank" class="text-decoration-none link-blurple"><i class="bi bi-discord"></i> Discord</a>.</p>
        <form action="https://error.va-center.com/report" method="POST" class="p-3 text-start">
            <h2>Title</h2>
            <input class="form-control mb-3" type="text" name="title">
            <h2>Body</h2>
            <textarea class="form-text mb-3 p-1 w-100 rounded" name="body" style="border-color: #ced4da;"></textarea>
            <h2>Contact Methods</h2>
            <textarea class="form-text mb-3 p-1 w-100 rounded" name="contact" placeholder="No format required." style="border-color: #ced4da;"></textarea>
            <div class="w-100 text-center">
            <button class="btn btn-primary mx-auto text-center">Submit</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>