<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VACenter Setup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="public/styles/scroll.css">
    <link rel="stylesheet" href="public/styles/main.css">
</head>
<body class="text-center text-light py-5" style="background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://webcdn.infiniteflight.com/blog/content/images/2019/08/Facebook.jpg'); background-position: center; background-size: cover;">
        <h1 class="mt-5">Welcome to VACenter</h1>
        <p>Click the button below and input your VANet API key to begin.</p>
    <button onclick="setup()" class="btn btn-light">Start</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function setup() {
            const apiKey = window.prompt("Enter your VANet assigned API Key")
            if(apiKey != null && apiKey != ""){
                const data = `key=${apiKey}`;

                const xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === this.DONE) {
                        if(this.status == 200){
                            swal("Hooray", "Your VANet was successfully linked!", "success");
                            setTimeout(() => {
                                window.location.href="/"
                            }, 2500);
                        }else{
                            swal("Oh no!", "There was an error linking your VANet!", "error")
                        }
                    }
                });

                xhr.open("POST", "/setupData");
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                xhr.send(data);
            }
        }
    </script>
</body>
</html>