<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VACenter Setup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="public/styles/scroll.css">
    <link rel="stylesheet" href="public/styles/main.css">
    <style>
        body {
            width: 100vw;
            background-image: url('/public/images/stockBG2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 100vh;
            height: auto;
        }
    
        .loginContainer {
            background-color: rgba(255, 255, 255, .5);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            position: relative;
            width: 50%;
            margin-top: 10vh;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body class="pt-1">
    <div class="loginContainer w-50 h-auto mx-auto rounded">
        <div class="p-5 pb-3 text-center text-dark h-auto">
            <h2><strong class="fw-bolder">Setup VACenter</strong></h2>
            <p>Welcome to VACenter! You have made an amazing choice in selecting us as your new crew center. To setup VACenter you just need to provice your <a class="link-primary" href="https://vanet.app" target="_blank">VANet</a> API Key.</p>
            <button class="btn btn-primary" onclick="setup()">Setup VACenter</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function setup() {
            swal({text: "Enter VANet API Key, (This may take 10-15 seconds)", content: "input", button: {
                text: "Setup",
                closeModal: false
            }}).then(apiKey => {
                if (apiKey != null && apiKey != "") {
                    const data = `key=${apiKey}`;

                    const xhr = new XMLHttpRequest();
                    xhr.withCredentials = true;

                    xhr.addEventListener("readystatechange", function () {
                        if (this.readyState === this.DONE) {
                            if (this.status == 200) {
                                setTimeout(() => {
                                    window.location.href = "/"
                                }, 2500);
                                return swal("Hooray", "Your VANet was successfully linked!", "success");
                            } else {
                                return swal("Oh no!", "There was an error linking your VANet!", "error")
                            }
                        }
                    });

                    xhr.open("POST", "/setup");
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                    xhr.send(data);
                }else{
                    return swal("Oh no!", "You didn't enter a key", 'error');
                }
            })
        }
    </script>
</body>
</html>