nav{
    z-index: 1000;
}

#newUserDialog{
    display: none;
    transition: 0.25s;
    position: fixed;
    width: 50vw;
    height: 85vh;
    z-index: 500;
    overflow-y: scroll;
    top: 7.5vh;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(30,30,30);
    left: 25vw;
}
#newUserDialog header{
    width: 100%;
    padding: 0.9vh 10vw;
    font-size: 5vh;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:10%;
    color: white;
    background-color:rgb(0, 125, 211);
}

.input-with-icon {
  /* causes absolute icon div to be positioned correctly */
  position: relative;

  width: 25rem;
  height: 3.2rem;
  box-sizing: border-box;
}

.input-with-icon .form-control {
    height: 100%;
    width: 100%;
    padding-right: 3.65rem;
    box-sizing: border-box;
}

.input-with-icon .icon {
  position: absolute;

  /* These are set relative to the height of the input box to bound the box neatly inside. This is aesthetic to me but you may change the dimensions of course. */
  right: 0.3rem;
  top: 0.3rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.3rem;

  /* content in the icon div is centered, without bootstrap or font-awesome you may wish to add your own text in the span */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}