form input{
    border: 1px solid black !important;
}
@media only screen and (max-width: 900px){
    #hiddenMe{
        display: none !important;
    }
    #wideme{
        width: 100vw !important;
    }
}