@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
  font-family: 'Varela Round';
}
body{
    width:100vw;
    overflow-x: hidden;
}



.halfBgFullSm{
  width: 50%;
}
@media only screen and (max-width: 950px ){
  .halfBgFullSm{
    width: 100%;
  }
  .specialCheckboxContainer{
    text-align: center !important;
  }
  .specialCheckbox{
    width: 7.5vh;
    height:7.5vh;
    margin-bottom: 10px;
    text-align:center;
    float:none !important;
  }
  .iconSize{
    font-size: 1.5rem;
  }
  nav{
    overflow-y: scroll;
    max-height: 100vh !important;
  }
  .w-sm-100{
    width: 100% !important;
  }
  .bgimg{
    width: 50vw !important;
  }
  .bgimg-2{
    width: 30vw !important;
  }
}