body::-webkit-scrollbar {
  display: none;
}
.hideScroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hideScroll::-webkit-scrollbar{
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}#page::-webkit-scrollbar {
  display: none;
}

#page {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

nav{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
nav::-webkit-scrollbar {
  display: none;
}
#rfContainer{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#rfContainer::-webkit-scrollbar {
  display: none;
}
#newUserDialog{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#newUserDialog::-webkit-scrollbar {
  display: none;
}

#reportForm{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#reportForm::-webkit-scrollbar {
  display: none;
}
textarea{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
textarea::-webkit-scrollbar {
  display: none;
}