/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Nunito';
}
body{
    width:100vw;
    overflow-x: hidden;
}
.text-blurple{
  color: #5865F2 !important;
}
.btn-blurple{
  color: #fff;
  background-color: #5865F2;
  border-color: #5865F2;
}
.bg-black{
  background-color: black !important;
}

.halfBgFullSm{
  width: 50%;
}
@media only screen and (max-width: 950px ){
  .halfBgFullSm{
    width: 100%;
  }
  .fullTransparent{
    width: 100vw !important;
    background-color: rgba(248, 249, 250, 0.75) !important;
    min-height: 100% !important;
    height: auto;
  }
  .specialCheckboxContainer{
    text-align: center !important;
  }
  .specialCheckbox{
    width: 7.5vh;
    height:7.5vh;
    margin-bottom: 10px;
    text-align:center;
    float:none !important;
  }
  .iconSize{
    font-size: 1.5rem;
  }
  nav{
    overflow-y: scroll;
    max-height: 100vh !important;
  }
  .w-sm-100{
    width: 100% !important;
  }
  .bgimg{
    width: 50vw !important;
  }
  .bgimg-2{
    width: 30vw !important;
  }
}