@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}


html, body{
  min-height: 100vh;
}

.nav-active-btn{
  color: rgb(0, 31, 134) !important;
background-color: rgb(208, 207, 253) !important;
border-color: rgb(208, 207, 253) !important;
}

.navItemHolder .btn-light{
  transition: 0.5s !important;
}
.navItemHolder .btn-light:hover{
  background-color: rgb(209, 209, 209);
  border-color: rgb(209, 209, 209);
}

#content{
  margin-top: 2.5vh;
  padding-bottom: 7.5vh;
  min-height: 60vh;
}

.fixed-table-body{
  height: auto !important;
}

