@media only screen and (max-width: 1000px){
    .navmain{
        width: 100vw !important;
        position: fixed;
        height: auto;
    }
}
@media only screen and (max-width: 600px){
    .loginContainer{
        width: 100vw !important;
        height: 100vh !important;
        top: 0px !important;
    }
}