html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

.box {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
.content{
    background-size: cover !important;
    background-position: center center;
}



@media only screen and (max-width: 350px){
    #backBTN{
        width: 100% !important;
    }
}